#brands .brands-container{
    max-width: 760px ;
    margin: 32px auto 120px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
#brands img{
    width: 246px;
    height: auto;
}
@media (max-width: 767px) {
    #brands .brands-container{

     justify-content: flex-start;
    }
    #brands img{
    width: 130px;
    }
}